{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">

    <div class="row">
      <script type="text/javascript">
        $(document).ready(function() {
          if(window.location.hash) {
            $("iframe").attr("src",
              "http://wiki.leipzig.freifunk.net/Hauptseite" + window.location.hash);
          }
        });
        </script>
        
        <iframe src="http://wiki.leipzig.freifunk.net/Hauptseite"
          width="100%" style="display:block; height: calc(100vh - 3.25em);width: 100%;">
        </iframe>
    </div>
  </div>
</section>
